<react-form></react-form>
<template-form></template-form>


<!-- <img ngSrc="girl.png" width="200" height="200"> -->
<img src="girl.png" width="200" height="200">

<!-- Rectangle Skeleton -->
<app-reuse-skeleton [itemCount]="2" width="80%" height="40px" type="rectangle" color="#cccccc"
  shimmerColor="#dddddd"></app-reuse-skeleton>

<!-- Circle Skeleton -->
<app-reuse-skeleton [itemCount]="1" width="50px" height="50px" type="circle" color="#e0e0e0"
  shimmerColor="#f4f4f4"></app-reuse-skeleton>

<!-- Square Skeleton -->
<app-reuse-skeleton [itemCount]="4" width="60px" height="60px" type="square" color="#dcdcdc"
  shimmerColor="#eaeaea" customClass="custom-rectangle"></app-reuse-skeleton>

  <app-reuse-skeleton
  [itemCount]="1"
  width="100px"
  height="100px"
  type="circle"
  color="#cccccc"
  shimmerColor="#dddddd"
  imageUrl="girl.png"
></app-reuse-skeleton>


<div *ngFor="let item of paginatedItems">
  {{ item }}
</div>

<app-reuse-pagination
[totalItems]="items.length"
[itemsPerPage]="itemsPerPage"
[currentPage]="currentPage"
(pageChange)="onPageChange($event)">
</app-reuse-pagination>
